* {
	margin: 0;
	padding: 0;
}

body {
	width: 960px;
	color: #666;

	margin: 0 auto;

	background-color: #FFF;
}

header, nav, ul, section, article, aside, footer {
	display: block;
}

li {
	list-style-type: none;
}

h2 {
	margin: 15px 0	;
}

a {
	text-decoration: none;
}